{% extends 'base.html.twig' %}

{% block title %}Codeur Libre | Créer un article{% endblock %}

{% block body %}

    <h1 class="text-center mb-3">Créer votre propre article !</h1>

    {{ form_start(add) }}
    {{ form_end(add) }}


{% endblock %}